.product-manager {
    &-wrapper {
        width: 100%;
        height: 100%;
        padding: 40px;
    }
    &-title {
        margin: 20px 0;
        font-size: 45px;
        font-weight: 6 00;
    }
    &-search {
        margin-top: 10px;
    }

    &-create-div {
        width: 100%;
        display: flex;
        justify-content: right;
        padding: 0 50px;
        padding-top: 40px;
    }
    &-body {
        display: flex;
        width: 100%;
        justify-content: space-between;
        .card-body {
            width: 350px;
        }
    }
    &-upload {
        width: 40%;
    }
    &-add-btn {
        margin: 0 5px;
        background-color: #36dd87 !important;
        border-radius: 5px !important;
        &:hover {
            background-color: #2e8759 !important;
        }
    }
    &-update-btn {
        margin: 0 5px;
        // background-color: #36dd87 !important;
        border-radius: 5px !important;
        &:hover {
            color: #2e8759 !important;
        }
    }
    &-delete-btn {
        margin: 0 5px;
        border-radius: 3px !important;
        // background-color: #e33131 !important;
        &:hover {
            color: #963a3a !important;
        }
    }
}

.product-manager-search-inp {
    padding: 7px 15px;
    border: 1px #ccc solid;
    margin-right: 15px;
}
.manager-filter-btn {
    background-color: #8a9328;
    color: white;
    padding: 7px 15px;
    &:hover {
        background-color: #36dd87 !important;
    }
}
.product-table-div {
    width: 100%;
    display: flex;
    justify-content: center;
}
.product-table {
    background-color: #f7f3ea;
    text-align: center;
    width: 100%;
    border-collapse: collapse;
    // table-layout: fixed;
    font-size: 18px;
    button {
        background-color: transparent;
        outline: none !important;
        border: none !important;
        box-shadow: none !important;
        &:focus {
            outline: none !important;
            border: none !important;
        }
        &:hover {
            outline: none !important;
            border: none !important;
            transition: background-color 0.5s ease;
        }
    }
    img {
        width: 100px;
        height: 60px;
    }
}

.product-table th,
.product-table td {
    border: 1px solid #ddd;
    padding: 8px;
}

.product-table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: #8a9328;
    color: white;
}

//Box css
.box-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 299;
}

.box-body {
    height: 400px;
    overflow-y: auto;
    text-align: left;
    div {
        margin-top: 10px;
    }
    label {
        margin-left: 5px;
    }
    input {
        width: 100%;
        padding: 5px;
        border: 1px #ccc solid;

        &:focus {
            border: 2px #8e8e8e solid;
        }
    }
}

.box-title {
    font-size: 30px;
}

.box-box {
    width: 600px;
    height: 90%;
    background-color: white;
    padding: 20px 40px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    max-width: 600px;
    text-align: center;
    z-index: 300;
    &-delete {
        width: 500px;
        height: 25%;
        background-color: white;
        padding: 20px;
        border-radius: 5px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
        max-width: 400px;
        text-align: center;
        z-index: 300;
    }
}
.box-btn {
    margin-top: 15px;
}

.box-content {
    margin-bottom: 20px;
}

.box-btn button {
    background-color: #ccc;
    margin-right: 10px;
    padding: 8px 20px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    &:hover {
        background-color: #e74c3c;
        color: white;
        outline: none;
        border: none;
    }
    &:focus {
        outline: none;
        border: none;
    }

    &:last-child {
        margin-right: 0;
    }
}

.box-btn-first:hover {
    background-color: black !important;
    color: white;
}
